<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/highscore">
            <img src="images/orelit.png" height="28">
        </a>
        <div>
            <ul class="navbar-nav mr-auto">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pages
                    </button>
                    <ul class="dropdown-menu">
                        <% if (user && user.role === 'superadmin') { %>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/highscore">Highscore</a>
                            </li>
                        <% } %>
                        
                        <% if (user && user.role === 'superadmin') { %>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/manage-players">Manage Players</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="/manage-flags">Manage Flags</a>
                            </li>
                        <% } %>
                    </ul>
                </div>

                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <span class="nav-link active ms-3">Hi! <%= user.username %></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
